---
import Card from "../components/card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, eaque dolorem quibusdam obcaecati aperiam vitae quidem dignissimos laboriosam? Earum asperiores odio possimus recusandae aliquid eaque molestias. Est, laboriosam! Laboriosam, accusantium?</p>
<img>

<section>
	<h2>Charme & atmosfære</h2>
	<Card img="/img/folketskaffe.webp" text="Folkets Kaffe - Borups Allé 3, 2200 København N" link1="Hjemmeside" link2="Instagram"/>
	<Card img="/img/lele.webp" text="Lélé - Nordre Frihavnsgade 101, 2100 København " link1="Hjemmeside" link2="Instagram"/>
	<Card img="/img/sonny.webp" text="Sonny - Frederiksberg Allé 12, 1820 Frederiksberg" link1="Hjemmeside" link2="Instagram"/> 
	<Card img="/img/madogkaffe.webp" text="Mad & Kaffe Frederiksberg - Godthåbsvej 45, 2000 Frederiksberg " link1="Hjemmeside" link2="Instagram"/>
	<Card img="/img/lipa.webp" text="Lipa - Ane Katrines Vej 2, 2000 Frederiksberg" link1="Hjemmeside" link2="Instagram"/>
	<Card img="/img/folketskaffe.webp" text="Dessert Huset" link1="Hjemmeside" link2="Instagram"/>
</section>

	</body>
</html>

